# EditorConfig settings for RStudio. Some editors will read these automatically;
# for those that don't, see here:
# http://editorconfig.org/

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# R files should end with a newline
[*.R]
insert_final_newline = true
