/*-- scss:defaults --*/
$h1-font-size: 1.8rem !default;
$navbar-color: #1141f3;
$navbar-hover-color: #1141f3;

/*-- Size of the larges h1
Custom grid for the index page
By default uses one column, and sets it to three if the screen width is at
least  992px
992px is the Boostrap CSS lg breakpoint
https://getbootstrap.com/docs/5.3/layout/breakpoints/
 --*/
.index-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 100%;
}

/* Wrap text */
.index-column {
  min-width: 0;
}

/* Three columns on big screens */
/* On mobile devices it's just one column */
@media (min-width: 992px) {
  .index-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.navbar-logo {
  width: 30%;
  max-height: 30%;
  align-items: baseline;
}

// Remove underscore from the link
a {
  text-decoration: none;
}

// # .navbar-logo is in the source code: https://github.com/search?q=repo%3Aquarto-dev%2Fquarto-cli+navbar-logo&type=code
#quarto-header .navbar-logo {
  max-height: 50px;
  width: auto;
}
